<div class="container">
 <div class= "row">

        <div class="col-sm-6">

                <app-quote-form (addEntry)="addNewQuote($event)"></app-quote-form>
            </div>
    <div class= "col-sm-6">
    
    <h1 class="text-center">Quotes</h1>

        <ul *ngFor="let mQuote of newQuotes;let i= index">
            <li class="text-center quote">{{ mQuote.quote}}</li>
            <app-quotes-detail class="quote_detail" [showQuote]="mQuote"></app-quotes-detail>
            <span class="glyphicon glyphicon-remove delete" (click)= 'deleteQuote(i)'>Delete</span>
            
        </ul>
    </div>
    
    
</div>
</div>