ul {
    list-style-type: none;
  }

.delete{
    margin:auto;
    width:50%;
    padding-top: 20px;
    padding-left:100px;
}

.quote{
    padding-bottom: 20px;
    font-size: 28px;
    padding-top: 20px;
    font-weight: bold;
    font-family:'Patua One', cursive;
}

.quotes{
    padding-bottom: 20px;
    font-family:'Anton', sans-serif;
}

.up{
    padding-left: 20px;
}

.remove{
    font-size: 20px;
}