.author{
    padding-top:15px;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}
.submitter{
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}
.date{
    padding-top: 15px;
    padding-right: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: bold;
}

.glyphicon-triangle-top{
    font-size: 25px;
    color:blue;
    
}
.glyphicon-triangle-bottom{
    font-size: 25px;
    color:blue;
}
.showUpvote{
    font-size: 15px;
    padding-left:10px;
}
.showDownVote{
    font-size: 15px;
    padding-left:10px;
}

.vote{
    font-family: 'Anton', sans-serif;

}

.time{
    padding-right: 10px;
}

