.newQuote{
    font-family: 'Anton', sans-serif;
}
#author{
    font-family: 'Anton', sans-serif;
}
#submitter{
    font-family: 'Anton', sans-serif;

}

#quote{
    font-family: 'Anton', sans-serif;
}